#fs-frm fieldset, #fs-frm input, #fs-frm label, #fs-frm textarea {
    display: block;
    border: none;
    font: var(--font-body);
}

#fs-frm input, #fs-frm textarea {
    box-shadow: var(--box-shadow);
    padding: 1em;
    margin: 0.5em 0;
    color: var(--text-secondary);
    resize: none;
    width: 100%;
    background-color: var(--bg-tertiary);
}

    #fs-frm input:focus, #fs-frm textarea:focus {
        outline-style: solid;
        outline-width: thin;
        outline-color: gray;
        outline-offset: -1px
    }

#fs-frm [type=button], #fs-frm [type=reset], #fs-frm [type=submit] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    border-radius: 1em;
    appearance: button;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    touch-action: manipulation;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--text-secondary);
    font-weight: bold;
    gap: 8px;
    display: flex;
    background-color: var(--bg-tertiary);
}

    #fs-frm [type=button]:hover,
    #fs-frm [type=reset]:hover,
    #fs-frm [type=submit]:hover {
        box-shadow: var(--box-shadow), var(--box-shadow-hover);
        text-decoration: underline;
    }

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .contact-form.active {
        visibility: visible;
        opacity: 1
    }
