:root {
    --font-header: 'Manrope', sans-serif;
    --font-body: 'Montserrat', sans-serif;
    --font-title: 'Abel', sans-serif;
    --icon-theme: "\f042";
    --icon-speak: "\f0e5";
    --transition: all 0.3s ease-in-out;
}

.theme-light {
    --text-primary: #fff;
    --text-secondary: #000;
    --text-accent: #f04;
    --text-tertiary: #505050;
    --text-note: #888;
    --bg-primary: #FFF;
    --bg-secondary: #F5F5F5;
    --bg-overlay: #00000033;
    --bg-overlay-hover: #DDD3;
    --bg-footer: #0F0F0F;
    --scrollbar-track: #F1F1F1;
    --scrollbar-thumb: #C1C1C1;
    --filter-inversion: invert(0);
    --mainPagePhoto: url("../imgs/heroes/light/Hero_Prelude01.png");
    --border-speech-img: url(../imgs/borders/border-dark.png) 30 round;
    --shadow-color: #122b6914;
    --box-shadow: 0 2px 6px var(--shadow-color), 0 1px 2px var(--shadow-color), 0 0 0 1px var(--shadow-color);
    --box-shadow-hover: 45px 45px 140px 0 var(--shadow-color);
    /*    --box-shadow-hover: 45px 45px 140px 0 #07090d14;*/

}


.theme-dark {
    --text-primary: #fff;
    --text-secondary: #fff;
    --text-accent: #FF0045;
    --text-tertiary: #999;
    --text-note: #888;
    --bg-primary: #151515;
    --bg-secondary: #1D1D1D;
    --bg-overlay: #0006;
    --bg-overlay-hover: #DDD3;
    --bg-footer: #0F0F0F;
    --scrollbar-track: #0E0E0E;
    --scrollbar-thumb: #3E3E3E;
    --filter-inversion: invert(1);
    --mainPagePhoto: url("../imgs/heroes/dark/Hero_OhShroom01.png");
    --border-speech-img: url(../imgs/borders/border-light.png) 30 round;
    --shadow-color: var(--bg-overlay);
    --box-shadow: 0 2px 6px var(--shadow-color), 0 1px 2px var(--shadow-color), 0 0 0 1px var(--shadow-color);
    --box-shadow-hover: 45px 45px 140px 0 var(--text-accent);
}

.fa-solid, .fas {
    color: var(--text-accent);
    padding: 4px;
}
